@import url('settings.css');
*{
  box-sizing: border-box;
}
body{
  background-image: url('../bg.png');
  color: #4e342e;
  font-family: verdana;
}
p{
  font-size: 1.5em;
}
.inter > input{
  text-align: right;
  font-weight: bold;
  background-color: #80cbc4;
  border-radius: 0.5em;
  border: none;
}
.inter > h3,ul{
  display: inline-block;
}
button{
  border: none;
  border-radius: 0.3em;
}
